<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Rincón FrutiCola de Kike</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="/templates/contact.html">Contacto</a></li>
                <li><a href="/templates/aboutUs.html">Acerca de Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <section id="contacto">
        <h2>Contacto</h2>
        <p>Puedes contactarnos en:</p>
        <address>
            Correo Electrónico: <a href="mailto:info@fruteriadelicioso.com">info@fruteriadelicioso.com</a><br>
            Teléfono: +123 456 789
        </address>
    </section>
</body>

</html>